.input-search {
  background-color: #f1f2f4;
  padding: 4px 7px;
  cursor: text;
  border-radius: 4px;
  border: transparent;
  margin: @PADDING_BASE;
  color: rgba(0, 0, 0, 0.65);
}

.input-search::-webkit-input-placeholder {
  color: #b9bbbd;
}

.input-search:focus {
  outline: none;
}