@import './variables.less';
.shift-left {
  margin-left: -@PADDING_BASE;
}

.shift-right {
  margin-right: -@PADDING_BASE;
}

.container--padding-horizontal {
  padding-left: @PADDING_BASE*2;
  padding-right: @PADDING_BASE*2;
}

.header-base {
  height: @HEADER_BASE;
}

.disabled-setting {
  color: @TEXT_DISABLED;
}

.paddingsLikeInput {
  padding-top: @PADDING_INPUT;
  padding-bottom: @PADDING_INPUT - 1;
}

.required-field-empty {
  color: @COLOR_ERROR;
}

.gif-loader {
  width: 13px; // font size
  height: 13px;
}

.record-data-header {
  cursor: pointer;
  background-color: @BG_WORKPALCE;
  height: @RECORD_DATA_HEADER;
  border-top: 1px solid @BORDER_BLOCK;
  border-bottom: 1px solid @BORDER_BLOCK;
  margin-top: -1px;
}
