@import './variables.less';

.shift-left {
  margin-left: -@PADDING_BASE;
}

.shift-right {
  margin-right: -@PADDING_BASE;
}

.container--padding-horizontal {
  padding-left: @PADDING_BASE*2;
  padding-right: @PADDING_BASE*2;
}

.header-base {
  height: @HEADER_BASE;
}

.disabled-setting {
  color: @TEXT_DISABLED;
}

.paddingsLikeInput {
  padding-top: @PADDING_INPUT;
  padding-bottom: @PADDING_INPUT - 1;
}
