.container {
  margin-bottom: 20px;
  min-height: 64px;
}

.menu {
  width: 100%;
}

.menuItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemDiv {
  width: 100%;
}
