@import '../../../../../../../../styles/helpers/index.less';
.container {
  .container--padding-horizontal;
  margin-top: 25px;
  color: @TEXT_EXTRA;
}

.header {
  text-align: center;
}

.body {
  margin-top: 25px;
}

.item {
  margin-bottom: 20px;
}

.itemHeader {
  font-size: 13px;
  position: relative;
  color: #7d7f80;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.itemFieldName {
  cursor: pointer;
  border-bottom: 1px solid fade(@TEXT_SUB, 20%);
}

.controlHeader {
display: flex;
justify-content: space-between;
align-items: center;
  cursor: pointer;
}

.controlLabel {
  margin-right: 25px;
  font-weight: 700;
  margin-bottom: 0;
  height: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}

.controlBody {
  margin-top: 10px;
}

.controlClose {
  font-size: 18px;
  cursor: pointer;
}
