/* Text colors */
/* Background colors */
/* Border colors */
/* Standart padding */
/* Danger colors */
.shiftLeft {
  margin-left: -10px;
}
.shiftRight {
  margin-right: -10px;
}
.container--padding-horizontal {
  padding-left: 20px;
  padding-right: 20px;
}
.body {
  background: #ffffff;
  border: 1px solid #dddfe0;
  border-bottom: none;
  height: 100%;
}
