@import (reference) '../../../../../styles/helpers/index.less';

.container {
  min-width: 300px;
  width: 300px;
  border-right: 1px solid @BORDER_BLOCK
}

.header {
  .header-base;
  .container--padding-horizontal;
  border-bottom: 1px solid @BORDER_BLOCK;
  background-color: @BG_CONTENT;
}
  .icon {
    .shift-right;
  }

.body {
  .container--padding-horizontal;
  background-color: @BG_PANELS;
}
