@import '../../../../../../../../../styles/helpers/index.less';

/*
 Common
*/

.rangeInput {
  flex-grow: 1;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.spanDash {
  display: inline-block;
  margin-left: @PADDING_BASE / 2;
  margin-right: @PADDING_BASE / 2;
}

.spanUnit {
  display: inline-block;
  margin-left: @PADDING_BASE / 2;
}


/*
  Number Field
*/

/*
  Date Field
*/

.selectRange {
  width: 100%;
  margin-bottom: @PADDING_BASE;
}


/*
  DropdownField
*/

.tagsContainer {
  .paddingsLikeInput;
}

.tags {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}


/*
  Radio Field
*/

.radioItem {
  .paddingsLikeInput;
  display: block;
  min-height: @HEIGHT_INPUT;
}


/*
  Stars Field
*/

.starsField {
  font-size: 18px;
  color: @TEXT_PLACEHOLDER;
  margin-right: @PADDING_BASE / 2;
}

.starsFieldSelected {
  color: rgb(228, 164, 64);
}

.starsContainer {
  .paddingsLikeInput;
}


/*
  Progress bar
*/

.progressBar {
  .paddingsLikeInput;
  display: flex;
  align-items: center;
}

.rangeNumber {
  width: 20px;
}

.rangeSlider {
  margin-left: @PADDING_BASE / 2;
  margin-right: @PADDING_BASE * 1.5;
}
