@import '../../../../styles/helpers/index.less';

.input {
  composes: input-search;
  width: auto;
}

.menuItemSearch {
  padding: 0;
  background-color: white !important;
}

.verticalMenu {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 80vh;
  .link {
    color: inherit;
  }
}


