@import '../../../../styles/helpers/index.less';

.input {
  composes: input-search;
  width: auto;
}

.verticalMenu {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 80vh;
}

  .menuItemSearch {
    padding: 0;
    background-color: white !important;
  }

  .link {
    color: inherit;
  }
