@import '../../../styles/helpers/index.less';

.header {
  margin-bottom: @PADDING_BASE;
}

.close {
  composes: shift-right;
  margin-top: -@PADDING_BASE;
  color: @BORDER_ELEMENT;
  font-size: 26px;
}

.content {
  padding-bottom: @PADDING_BASE;
}

.content input {
  margin-top: @PADDING_BASE;
  width: 60%;
}
