@import (reference) '../../../../../../../../../styles/helpers/index.less';

.sectionHeader {
  cursor: pointer;
  padding: @PADDING_BASE @PADDING_BASE * 2;
  background-color: @BG_WORKPALCE;
}

.headerText {
  font-weight: 700;
}

.headerCount {
  color: @TEXT_DISABLED;
}

.field {
  .container--padding-horizontal;
  padding-top: @PADDING_BASE;
  padding-bottom: @PADDING_BASE;
}
