/* Text colors */
/* Background colors */
/* Border colors */
/* Standart padding */
/* Danger colors */
.shiftLeft {
  margin-left: -10px;
}
.shiftRight {
  margin-right: -10px;
}
.container--padding-horizontal {
  padding-left: 20px;
  padding-right: 20px;
}
.header-base {
  height: 48px;
}
.input-search {
  background-color: #f1f2f4;
  padding: 4px 7px;
  cursor: text;
  border-radius: 4px;
  border: transparent;
  margin: 10px;
  color: rgba(0, 0, 0, 0.65);
}
.input-search::-webkit-input-placeholder {
  color: #b9bbbd;
}
.input-search:focus {
  outline: none;
}
.catalog {
  composes: container--padding-horizontal;
  background-color: #e9ebef;
  height: 100%;
}
