@import (reference) '../../../../styles/helpers/index.less';
@import (reference) './vertical.less';

.menu {
  // overflow: hidden;
  max-width: 80vw;
  background: transparent;
  line-height: 46px;
  // max-height: 46px;
}

.item {
  padding: 0 @PADDING_BASE;
  margin-right: @PADDING_BASE;
  color: @TEXT_SUB;
  display: inline-block;
}

.link {
  .link;
  &:hover {
    color: @TEXT_MENU_HOVER !important;
    transform: translateY(-2px);
    transition: transform 0.2s;
  }
}

.icon {
  .icon;
}

.text {
  .text;
}

.selected {
  .selected;
}
