@import '../../../../styles/helpers/index.less';

.horizontalMenu {
  overflow: hidden;
  max-width: 80vw;
  display: flex;
  flex-flow: nowrap;
  background: transparent;
  line-height: 46px;
}

.menuItemVertical {
  padding: 0 @PADDING_BASE*2;
  line-height: 42px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selected > a,
.menuItem > a:hover,
.menuItemVertical > a:hover {
  color: black;
}

.menuItem > a,
.menuItemVertical > a {
  display: block;
  color: var(text-sub);
}

.menuItem > a > i,
.menuItemVertical > a > i {
  margin-right: 8px;
  color: rgb(125, 127, 128);
}

.menuItem {
  padding: 0 10px;
}
