@import (reference) '../../../../styles/helpers/index.less';

.item {
  padding: 0 @PADDING_BASE*2;
  line-height: 42px;
  color: @TEXT_SUB;
}

.link {
  display: block;
  &:hover {
    color: @TEXT_MENU_HOVER;
  }
  &:focus {
    text-decoration: none;
  }
}

.selected {
  color: @TEXT;
}

.icon {
  opacity: 0.8;
  font-size: 1.43em;
  margin-right: @PADDING_BASE - 2px;
}

.text {
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 1px;
  max-width: 90px;
  line-height: 1.4em;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 4.2em;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap
}
