@import "~antd/dist/antd.less";
@import './theme.less';
.ant-tabs-bar {
  border-bottom: none;
}

.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-horizontal {
  border: none;
}

.ant-menu-horizontal>.ant-menu-item-selected>a,
.ant-dropdown-menu-item-selected>a {
  color: rgb(117, 173, 157);
}

.ant-menu {
  display: flex;
  flex-flow: nowrap;
  margin-bottom: -1px;
  background: transparent;
  line-height: 42px;
  padding-top: 4px;
  &--transparent {
    background: transparent;
  }
}

.ant-dropdown-menu {
  padding-bottom: @PADDING_BASE;
}

.ant-modal-body {
  padding: 0;
}

.ant-modal-footer {
  background: @BG_PANELS;
  text-align: left;
  padding: @PADDING_BASE*2;
}

.ant-modal-footer button+button {
  margin-left: @PADDING_BASE;
}

.ant-row-flex {
  flex-wrap: nowrap;
}

.ant-menu-item {
  padding: 0 @PADDING_BASE;
  & .anticon {
    margin-right: 0;
  }
}

.ant-menu-inline .ant-menu-item {
  border-right: none;
  line-height: 32px;
  height: 32px;
  padding: 0 @PADDING_BASE*2;
}

.ant-menu-inline .ant-menu-item {
  &:hover:after {
    transform: none;
    transition: none;
  }
  &:after {
    right: auto;
    left: 0px;
    transition: 0s;
  }
}

.ant-menu-inline .ant-menu-item-selected>a {
  font-weight: bold;
}

.ant-menu-horizontal>.ant-menu-item {
  top: 0px;
  border-bottom: 3px solid transparent;
}

.ant-menu-horizontal>.ant-menu-item-selected,
.ant-menu-horizontal>.ant-menu-item:hover {
  border-bottom: 3px solid #75ad9d;
}

.ant-btn-clicked:after {
  border: none;
}

.ant-btn-danger:hover,
.ant-btn-danger:focus {
  opacity: 0.8;
  background-color: @DANGER_BUTTON;
}

.ant-btn-group>.ant-btn:first-child:not(:last-child) {
  padding-right: @PADDING_BASE;
}

.ant-dropdown-button.ant-btn-group>.ant-btn:last-child:not(:first-child) {
  padding-left: @PADDING_BASE/2;
  padding-right: @PADDING_BASE/2;
  background-color: transparent;
  color: @TEXT_MENU;
  border-color: @BORDER_ELEMENT;
  opacity: 0.8;
}

.ant-tag {
  transition: none;
}

.ant-checkbox-wrapper {
  display: flex;
  padding-top: @input-padding-vertical-base + 1;
  min-height: @input-height-base;
}

.ant-checkbox {
  margin-top: 2px;
}

.ant-select-selection--multiple .ant-select-selection__choice {
  background-color: fade(@primary-color, 30%);
  padding-right: 25px;
}

.ant-select-selection--multiple .ant-select-selection__choice__remove {
  font-size: 17px;
  margin-top: 1px;
}

.ant-btn {
  transition: 0.1s;
}
