@import '../../../../../styles/helpers/index.less';

.container {
  max-width: 100%;
  min-width: 400px;
  overflow: visible;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
}

.header {
  composes: container--padding-horizontal;
  border-bottom: 1px solid @BORDER_BLOCK;
}

.input {
  composes: input-search;
  width: 245px;
}

.body {
  composes: container--padding-horizontal;  
}
